{% load static%}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Planner</title>
    <link rel="stylesheet" href="{% static 'main/css/test.css' %}">
</head>

<body>
    <div class="logo"><img src="{% static 'main/img/sv.png' %}" alt="logo" width="97" height="76" onclick="reloadPage()"></div>
    <div class="registration" id="registration">
        <div><img src="{% static 'main/img/Logo RP.png' %}" alt="RP"></div>
        <form id="registration-form">
            <button type="button" class="btn-big" id="registration-link" onclick="location.href='/login/'">Продолжить</button>
        </form>
    </div>

</body>

</html>
