{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Начальная страница</title>
    <link rel="stylesheet" href="{% static 'main/css/home.css' %}">
</head>
<body>
    <div class="start-page">
        <img src="{% static 'main/img/home.png' %}" alt="Начальная страница">
        <div class="button-container">
            <button id="continue-btn" class="btn-big">Продолжить</button>
        </div>
    </div>
    <script>
        document.getElementById('continue-btn').addEventListener('click', function() {
            window.location.href = '/login/'; // Замените '/playground/' на нужный URL
        });
    </script>
</body>
</html>
