{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Planner - Main</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>

<body>
    <div class="logo">
        <img src="{% static 'main/img/Logo RP.png' %}" alt="logo" width="181" height="52" id="logo">
    </div>

    <div class="user-info">
        {% if user.is_authenticated %}
            <p>{{ user.username }} | <a href="{% url 'logout' %}">Выйти</a></p>
        {% endif %}
    </div>
    
    <div class="cards">
        <!-- Комната с актуальными данными -->
        <div class="card room-card" id="room" onclick="location.href='/playground/'">
            <p class="card-title" id="room-name"></p> <!-- Название комнаты -->
            <p class="card-subtitle" id="last-edited"></p> <!-- Время редактирования -->
        </div>

        <div class="card create-card" id="create-new-room">
            <div><img src="{% static 'main/img/plus.png' %}" alt=""></div>
            <p class="card-title">Создать новый</p>
        </div>

    </div>

    <!-- <script src="script.js"></script> -->
    <script src="{% static 'main/js/main.js' %}"></script>
</body>

</html>
